@media screen and (min-width: 320px) and (max-width: 601px) {
    /* Header */
    #background {
        width: 100%;
        height: 100%;
    }

    header {
    max-width: 601px;
    padding-top: 24px;
    }

    header img {
        display: none;
        /* display: flex;
        align-items: center;
        width: 60px;
        margin: 10px auto; */
    }

    .navigation {
        justify-content: center;
        column-gap: 15px;
        padding: 0px 20px;
    }

    .navigation_link {
        font-size: 15px;
        letter-spacing: 1.4px;
    }

    .navigation_social {
        position: absolute;
        right: 1%;
        top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        z-index: 1;
    }
    /* End Header */

    /* Main */
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .main_info div a, .main_info div button {
        width: 100%;
        height: 100%;
    }

    .img-mario-luigi {
        display: none;
    }
}